<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Successfully Completed!</h1>
    {{people}}
    <table style="border: 1px solid black">
      {% for person in people %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ person.name }}</td>
        <td>{{ person.age }}</td>
        <td>{{ person.city }}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
